
body {
    background-color: black;
    color: #00FF00; /* Green terminal color */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.ascii-container {
    position: relative;
}

#ascii-art {
    text-align: center;
}

.clickable-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

.clickable-overlay:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
